* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100ev;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
    font-family: sans-serif;
    color: white;
}

#app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

}
#temp{
    text-align: center;
}
#temp #temp-value{color: #fff;
    font-size: 10rem;}
#temp #temp-unit{
    color: #fff;
    font-size: 3rem;}
#temp-icon{
    margin: 5rem;
    width: 40%;
    height: auto;
}
#location
{
    font-family: sans-serif;
    color: #e0e0e0;
    font-size: 2.5rem;
}
#climate{

    color: #e0e0e0;
    font-size: 2rem;
    text-align: center;
}